body {
	text-align: center;
	background: url('../images/background_tron.jpg'), black;
	background-repeat: no-repeat;
	background-size: 100% 110%;
	color: #98F3F3;
	font-family: 'Geostar', Helvetica, cursive;
}

#page_contents {
	position: relative;
	top: 25px;
}

h1 {
	background: rgba(0, 10, 10, .7);
	display: inline;
	font-size: 3.5em;
}

#active-board {
	text-align: center;
	width: 550px;
	height: 550px;
	margin: auto;
	position: relative;
	top: 10px;
	margin-top: 10px;

}


.board-squares {
	height: 180px;
	width: 180px;
	background-repeat: no-repeat;
	display: inline-block;
	margin: 0;
	padding: 0;
}



.board-squares button {
	height: 175px;
	width: 175px;
	background-color: rgba(0, 10, 10, 0);

}


.X {
	background: url('../images/neon_x.png');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.O {
	background-image: url('../images/tron_disc_1.png');
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.empty {
	background-image: none;
}


#interactive_box {
	height: 175px;
	width: 300px;
	border: 5px solid #98F3F3;
	border-radius: 20px;
	position: relative;
	top: -430px;
	left: -320px;
}

#x_score, #apple_score {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
}


.messages {
	margin-top: 22px;
}

#win_box {
	height: 50px;
	width: 250px;
	border: 5px solid #98F3F3;
	border-radius: 20px;
	position: relative;
	top: -525px;
	left: 600px;
}

#winner {
	position: relative;
	font-size: 1.5em;
	top: 0.5em;
}


.new_game {
	
	height: 50px;
	width: 250px;
	position: relative;
	bottom: -50px;
	border: 5px solid #C0C0C0;
	border-radius: 20px;
}


#win_body#winner {
margin: auto;
}

